.upload {
    width: 157px !important;
    height: 57px !important;
    background: url(../images/upload.png) !important;
    overflow: hidden;
    margin-left: 10px;
}

.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
